<h1>Francisco Mellado</h1>
<div style="width: 700px; text-align: justify;">
    <p style="word-wrap: break-word;">
        More than 10 years of experience in the development and implementation of software solutions with some multinational companies. Demonstrated a great ability to adapt to changes, visualize and minimize risks through high impact projects at globally known companies, as a Walmart, and Nutresa Internacional (TMLUC).  Productive team player working well in a team and independently under stress conditions. Extensive experience in various roles as a software developer, senior software developer, business analyst and technical program manager working with Agile and Cascade methodologies.
    </p>
</div>
<div style="padding-bottom: 20px;">
    <img src ="assets/img/me.jpg" alt="FranciscoMellado" width="400" height="540">
</div>
<div style="padding-bottom: 20px;">
    <a href="assets/doc/fmres.pdf" download>Download Resume</a>

</div>

