<mat-toolbar color="primary">
  <img src ="assets/img/Logo.jpg" width="70" height="60">
  <span>Hola Mundo, This is my first web site</span>
  <span class="example-spacer"></span>
  <div>
    <nav>
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/about">About    </a>
      <a mat-button routerLink="/project">Project </a>
      <a mat-button routerLink="/contact">Contact </a>
      <a mat-button routerLink="/services">Services </a>
    </nav>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
