<div>
    <h2>Technology Services</h2>
    <ul>
      <li>
        <img src="assets/img/pmp.jpg" alt="Service 1" width="100" height="80">
        <b> &nbsp;&nbsp;&nbsp; Service 1: Project Management </b>
      </li>
      <li>
        <img src="assets/img/scrum.jpg" alt="Service 2" width="100" height="80">
        <b>&nbsp;&nbsp;&nbsp;Service 2: SCRUM training</b>
      </li>
      <li>
        <img src="assets/img/ba.jpg" alt="Service 3" width="100" height="80">
        <b>&nbsp;&nbsp;&nbsp;Service 3: Business analyst</b>
      </li>
      <li>
        <img src="assets/img/imp.jpg" alt="Service 4" width="100" height="80">
        <b>&nbsp;&nbsp;&nbsp;Service 4: Implementation of high impact projects</b>
      </li>
    </ul>
  </div>
  