<!DOCTYPE html>
<html>
<head>
  <style>
    html, body {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .centered-text {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="centered-text">
    <p>Successful login has been performed.</p>
  </div>
  <div>
 
    <div class="col-md-3 text-end">
      <button type="button" (click)= "logOut()" class="btn btn-outline-primary me-2">LogOut</button>
    </div>
  </div>
</body>
</html>


